*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'open sans';
}
h1, h2, h3, h4, h5, h6{
	font-family: 'lato';
}
h3, h4, h5, h6{
	text-transform: uppercase;
}
.error{
	background-color: tomato;
	color: white;
	text-align: center;
	padding: 20px;
}

.overlay{
	display: none;
	padding: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.overlay-category-add{
	display: none;
	text-align: center;
}
.overlay-category-add input{
	padding: 10px 30px;
}
.overlay-category-confirm-delete{
	display: none;
	background-color: white;
	padding: 40px;
	text-align: center;
}
.overlay-category-edit-name{
	display: none;
	text-align: center;
}
.overlay-category-edit-name input{
	padding: 10px 30px;
}
.overlay-category-edit{
	display: none;
}
.overlay-autorresponder-edit{
	display: none;
	max-width: 800px;
	margin: auto;
}
.autorresponder-edit-title{
	width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12pt;
}
.autorresponder-edit-order{
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 12pt;	
}
.overlay-autorresponder-email{
	display: none;
	max-width: 800px;
	margin: auto;
}
.autorresponder-add-submit{
	display: none;
}
.overlay-subscribers{
	display: none;
	text-align: center;
	background-color: white;
	list-style-type: none;
}
.overlay-subscribers-edit{
	display: none;
	background-color: white;
	text-align: center;
}

.container{
	background-color: whitesmoke;
	padding: 5px;
	height: 100vh;
}
.container-title{
	display: inline-block;
}
.container-category-actions{
	display: inline-block;
	margin-left: 43px;
}

.category{
	width: 350px;
	border: 2px solid lightgrey;
	display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
}
.category-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid lightgrey;
	padding: 15px;
}
.category-header h3{
	margin: 0;
}
.category-edit-container{
	display: none;
	align-items: center;
}
.category-edit-container > *{
	margin-right: 5px;
}
.category-remove-icon{
	text-decoration: none;
	color: darkgrey;
}
.category-remove-icon:hover{
	color: darkred;
}
.category-no-autorresponders{
	padding: 20px;
	color: darkgrey;
	text-align: center;
}
.category-autorresponders{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.category-autorresponders > li{
	padding: 10px;
	position: relative;
}
.category-autorresponder-actions{
    display: none;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
.category-autorresponder-actions li{
	display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
	width: calc(100% / 3);
	background-color: #a51b1b;
    color: white;
    cursor: pointer;
}
.category-autorresponder-actions li:hover{
	background-color: #721010;
}
.category-overlay-edit{
	position: absolute;
    width: 100%;
    background: darkred;
    height: 100%;
    opacity: 0.5;
    background-image: url('icons/edit.svg');
    background-size: 30px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    cursor: pointer;
}
.category-overlay-edit:hover{
    opacity: 0.8;
}